---
title: On age verification

categories:
  - tech
media_subpath: /images/age-verification
---

Governments around the world have been pushing for mandatory age verification for online services for the past few years, and I'll be direct: most of this is utter bullshit that will cripple your privacy and anonymity, all while achieving next to nothing to "protect the children!!!!", as the people in favour of this like to exclaim.

[Age verification doesn't have to be a privacy footgun](https://soatok.blog/2025/07/31/age-verification-doesnt-need-to-be-a-privacy-footgun/), but I don't trust the people coming up with these solutions one bit. If it is implemented in a way that allows the state to track every user on the internet, it will open up the door to censorship of any speech they consider "terrorist". For example, if someone makes a post in support of an organization doing everything in its power to weaken the Israeli genocide machine, the government would have a hard time tracking them down and throwing them in prison. Such draconic "anti-terrorism" law enforcement might sound like a joke to someone living in a sane country, but sadly [it is reality in the UK](https://www.independent.co.uk/news/uk/crime/palestine-action-arrest-facebook-police-raid-b2811996.html). As soon as you hand over such data, censorship becomes much easier. 

An even worse implementation of age verification is mandating people upload a picture of their ID or a selfie to the service provider. This way not only do you allow the state to deanonymise you by subpoenaing the platform, you also directly allow the provider to process your data, which is then used to serve targeted ads and manipulate public opinion.[^cambridge-analytica] Additionally, age verification implemented in such a manner makes data breaches much more catastrophic. I don't trust social media platforms or chat apps to safeguard such sensitive information at all. These laws also can't be implemented to ban one specific age group from social media because banning one group means having to verify everyone; so not only underage people will be affected.

One might say that people hand over that data anyway, so we might as well implement age-gating across the internet. And I agree, they should be more wary of mindlessly giving tech giants personal information, but that is a personal choice. Privacy-minded individuals should not be forced to present personally-identifying information to use social media.

It is very important, however, that we recognize that social media is incredibly detrimental to *everyone's* mental health and general well-being. Anxiety and depression are at an all-time high and people are spending significantly less time with friends than they used to. Some teens spend as much as 9 hours in front of various screens.

![graph showing a drastic decline in the daily average time people spend with friends](time-with-friends.jpeg)
_[source](https://www.thefp.com/p/jonathan-haidt-smartphones-rewired-childhood)_

![Graph showing the percentage of U.S. undergraduates with different mental illness, 2008-2019](https://jonathanhaidt.com/wp-content/uploads/2023/09/ACHA-Graph.png)
_Taken from Jonathan Haidt's book The Anxious Generation. [link](https://jonathanhaidt.com/anxious-generation/)_

The uptick in these mental illnesses from 2010 onward is not a coincidence. The explosion in popularity of social media started around that year. These platforms are directly harming our mental health and they get away with it without any serious consequences (no, a fine of a few million dollars is not a serious consequence. It's just a slap on the wrist for the tech giants).

What I think should be done to combat this blatant abuse of people's attention and data is a full ban on targeted advertising. This would make harvesting people's data significantly less lucrative, which would disincentivize social media platforms from harvesting it in the first place. Perhaps we could go further and ban these abusive algorithms entirely. This way, we could kind of go back to a time when people curated their own feeds (think RSS) without being fed slop designed to keep them on the platform as long as possible, disregarding any concerns about its effect on their brains. I appreciate the way most of the [Fediverse](https://en.wikipedia.org/wiki/Fediverse) works. For example, on Lemmy there's a simple 'all' feed which displays the most upvoted posts in a given timeframe, or you can use the 'subscribed' feed which shows posts from the communities you're subscribed to. Mastodon works in a similar manner, but instead of following communities, you follow users.

Additionally, the companies responsible for the drastic decline in mental health should have to pay *real* fines. As in, $10000 per affected person. Really. Every regular user of their platforms was harmed by them, had their attention span ruined, their social circle shattered, their time wasted, all for the "comfortable" numbness provided by abusive services. And it's time to do something about it.

[^cambridge-analytica]: See [The Cambridge analytica scandal](https://en.wikipedia.org/wiki/Facebook%E2%80%93Cambridge_Analytica_data_scandal)